# Data Extraction and Transformation

In [40]:
#Dependencies

from sqlalchemy import create_engine
import pandas as pd

database_path = "./us-wildfire-dataset/FPA_FOD_20170508.sqlite"

In [41]:
#create an engine

engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [42]:
#view data

wildfire_df = pd.read_sql("SELECT * FROM fires", conn)

wildfire_df.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [43]:
wildfire_df.shape

(1880465, 39)

In [44]:
wildfire_df.columns

#convert the sqlite files to csv file for better view of data

#wildfire_df.to_csv('us_wildfire_1992_2015.csv', index=False)

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')

In [ ]:
# Content:
# This dataset is an SQLite database that contains the following information:

# Fires: Table including wildfire data for the period of 1992-2015 compiled from US federal, 
#state, and local reporting systems.
# FOD_ID = Global unique identifier.
# FPA_ID = Unique identifier that contains information necessary to track back to the 
# original record in the source dataset.
# SOURCESYSTEMTYPE = Type of source database or system that the record was drawn from 
#(federal, nonfederal, or interagency).
# SOURCESYSTEM = Name of or other identifier for source database or system that the record was drawn from. 
# See Table 1 in Short (2014), or \Supplements\FPAFODsourcelist.pdf, for a list of sources and their identifier.
# NWCGREPORTINGAGENCY = Active National Wildlife Coordinating Group (NWCG) Unit Identifier for the agency 
# preparing the fire report (BIA = Bureau of Indian Affairs, BLM = Bureau of Land Management, BOR = Bureau of Reclamation, DOD = Department of Defense, DOE = Department of Energy, FS = Forest Service, FWS = Fish and Wildlife Service, IA = Interagency Organization, NPS = National Park Service, ST/C&L = State, County, or Local Organization, and TRIBE = Tribal Organization).
# NWCGREPORTINGUNIT_ID = Active NWCG Unit Identifier for the unit preparing the fire report.
# NWCGREPORTINGUNIT_NAME = Active NWCG Unit Name for the unit preparing the fire report.
# SOURCEREPORTINGUNIT = Code for the agency unit preparing the fire report, 
# based on code/name in the source dataset.
# SOURCEREPORTINGUNIT_NAME = Name of reporting agency unit preparing the fire report, 
# based on code/name in the source dataset.
# LOCALFIREREPORT_ID = Number or code that uniquely identifies an incident report 
# for a particular reporting unit and a particular calendar year.
# LOCALINCIDENTID = Number or code that uniquely identifies an incident for 
# a particular local fire management organization within a particular calendar year.
# FIRE_CODE = Code used within the interagency wildland fire community 
# to track and compile cost information for emergency fire suppression (https://www.firecode.gov/).
# FIRE_NAME = Name of the incident, from the fire report (primary) or ICS-209 report (secondary).
# ICS209INCIDENT_NUMBER = Incident (event) identifier, from the ICS-209 report.
# ICS209NAME = Name of the incident, from the ICS-209 report.
# MTBS_ID = Incident identifier, from the MTBS perimeter dataset.
# MTBSFIRENAME = Name of the incident, from the MTBS perimeter dataset.
# COMPLEX_NAME = Name of the complex under which the fire was ultimately managed, when discernible.
# FIRE_YEAR = Calendar year in which the fire was discovered or confirmed to exist.
# DISCOVERY_DATE = Date on which the fire was discovered or confirmed to exist.
# DISCOVERY_DOY = Day of year on which the fire was discovered or confirmed to exist.
# DISCOVERY_TIME = Time of day that the fire was discovered or confirmed to exist.
# STATCAUSECODE = Code for the (statistical) cause of the fire.
# STATCAUSEDESCR = Description of the (statistical) cause of the fire.
# CONT_DATE = Date on which the fire was declared contained or 
# otherwise controlled (mm/dd/yyyy where mm=month, dd=day, and yyyy=year).
# CONT_DOY = Day of year on which the fire was declared contained or otherwise controlled.
# CONT_TIME = Time of day that the fire was declared contained or 
# otherwise controlled (hhmm where hh=hour, mm=minutes).
# FIRE_SIZE = Estimate of acres within the final perimeter of the fire.
# FIRESIZECLASS = Code for fire size based on the number of acres within 
# the final fire perimeter expenditures 
# (A=greater than 0 but less than or equal to 0.25 acres, B=0.26-9.9 acres, C=10.0-99.9 acres, D=100-299 acres, E=300 to 999 acres, F=1000 to 4999 acres, and G=5000+ acres).
# LATITUDE = Latitude (NAD83) for point location of the fire (decimal degrees).
# LONGITUDE = Longitude (NAD83) for point location of the fire (decimal degrees).
# OWNER_CODE = Code for primary owner or entity responsible for 
# managing the land at the point of origin of the fire at the time of the incident.
# OWNER_DESCR = Name of primary owner or entity responsible for 
# managing the land at the point of origin of the fire at the time of the incident.
# STATE = Two-letter alphabetic code for the state in which the fire burned 
# (or originated), based on the nominal designation in the fire report.
# COUNTY = County, or equivalent, in which the fire burned (or originated), 
# based on nominal designation in the fire report.
# FIPS_CODE = Three-digit code from the Federal Information Process Standards (FIPS) 
# publication 6-4 for representation of counties and equivalent entities.
# FIPS_NAME = County name from the FIPS publication 6-4 for representation of counties and equivalent entities.
# NWCGUnitIDActive20170109: Look-up table containing all NWCG identifiers for agency units 
# that were active (i.e., valid) as of 9 January 2017, when the list was downloaded from 
# https://www.nifc.blm.gov/unit_id/Publish.html and used as the source of values available to populate 
# the following fields in the Fires table: NWCGREPORTINGAGENCY, NWCGREPORTINGUNITID, and NWCGREPORTINGUNITNAME.
# UnitId = NWCG Unit ID.
# GeographicArea = Two-letter code for the geographic area in which 
# the unit is located (NA=National, IN=International, AK=Alaska, CA=California, 
# EA=Eastern Area, GB=Great Basin, NR=Northern Rockies, NW=Northwest, 
# RM=Rocky Mountain, SA=Southern Area, and SW=Southwest).
# Gacc = Seven or eight-letter code for the Geographic Area Coordination Center 
# in which the unit is located or primarily affiliated with 
# (CAMBCIFC=Canadian Interagency Forest Fire Centre, USAKCC=Alaska Interagency Coordination Center, 
# USCAONCC=Northern California Area Coordination Center, USCAOSCC=Southern California Coordination Center, 
# USCORMCC=Rocky Mountain Area Coordination Center, USGASAC=Southern Area Coordination Center, 
# USIDNIC=National Interagency Coordination Center, USMTNRC=Northern Rockies Coordination Center, 
# USNMSWC=Southwest Area Coordination Center, USORNWC=Northwest Area Coordination Center, 
# USUTGBC=Western Great Basin Coordination Center, USWIEACC=Eastern Area Coordination Center).
# WildlandRole = Role of the unit within the wildland fire community.
# UnitType = Type of unit (e.g., federal, state, local).
# Department = Department (or state/territory) to which the unit belongs 
# (AK=Alaska, AL=Alabama, AR=Arkansas, AZ=Arizona, CA=California, CO=Colorado,
# CT=Connecticut, DE=Delaware, DHS=Department of Homeland Security, 
# DOC= Department of Commerce, DOD=Department of Defense, DOE=Department of Energy, 
# DOI= Department of Interior, DOL=Department of Labor, FL=Florida, GA=Georgia, IA=Iowa, 
# IA/GC=Non-Departmental Agencies, ID=Idaho, IL=Illinois, IN=Indiana, KS=Kansas, 
# KY=Kentucky, LA=Louisiana, MA=Massachusetts, MD=Maryland, ME=Maine, MI=Michigan, 
# MN=Minnesota, MO=Missouri, MS=Mississippi, MT=Montana, NC=North Carolina, NE=Nebraska, 
# NG=Non-Government, NH=New Hampshire, NJ=New Jersey, NM=New Mexico, NV=Nevada, 
# NY=New York, OH=Ohio, OK=Oklahoma, OR=Oregon, PA=Pennsylvania, PR=Puerto Rico, 
# RI=Rhode Island, SC=South Carolina, SD=South Dakota, ST/L=State or Local Government, 
# TN=Tennessee, Tribe=Tribe, TX=Texas, USDA=Department of Agriculture, UT=Utah,
# VA=Virginia, VI=U. S. Virgin Islands, VT=Vermont, WA=Washington, WI=Wisconsin, WV=West Virginia, WY=Wyoming).
# Agency = Agency or bureau to which the unit belongs
# (AG=Air Guard, ANC=Alaska Native Corporation, BIA=Bureau of Indian Affairs,
# BLM=Bureau of Land Management, BOEM=Bureau of Ocean Energy Management, 
# BOR=Bureau of Reclamation, BSEE=Bureau of Safety and Environmental Enforcement, 
# C&L=County & Local, CDF=California Department of Forestry & Fire Protection, 
# DC=Department of Corrections, DFE=Division of Forest Environment, 
# DFF=Division of Forestry Fire & State Lands, DFL=Division of Forests and Land, 
# DFR=Division of Forest Resources, DL=Department of Lands, DNR=Department of Natural Resources, 
# DNRC=Department of Natural Resources and Conservation, DNRF=Department of Natural Resources Forest Service, 
# DOA=Department of Agriculture, DOC=Department of Conservation, DOE=Department of Energy, 
# DOF=Department of Forestry, DVF=Division of Forestry, DWF=Division of Wildland Fire, 
# EPA=Environmental Protection Agency, FC=Forestry Commission, FEMA=Federal Emergency Management Agency, 
# FFC=Bureau of Forest Fire Control, FFP=Forest Fire Protection, FFS=Forest Fire Service, 
# FR=Forest Rangers, FS=Forest Service, FWS=Fish & Wildlife Service, HQ=Headquarters, JC=Job Corps,
# NBC=National Business Center, NG=National Guard, NNSA=National Nuclear Security Administration, 
# NPS=National Park Service, NWS=National Weather Service, OES=Office of Emergency Services, PRI=Private, 
# SF=State Forestry, SFS=State Forest Service, SP=State Parks, TNC=The Nature Conservancy,
# USA=United States Army, USACE=United States Army Corps of Engineers, USAF=United States Air Force, 
# USGS=United States Geological Survey, USN=United States Navy).
# Parent = Agency subgroup to which the unit belongs 
# (A concatenation of State and Unit from this report - https://www.nifc.blm.gov/unit_id/publish/UnitIdReport.rtf).
# Country = Country in which the unit is located (e.g. US = United States).
# State = Two-letter code for the state in which the unit is located (or primarily affiliated).
# Code = Unit code (follows state code to create UnitId).
# Name = Unit name.

In [45]:
#The fire contained date(CONT_DATE) has many NaN values. Will replace the NaN values with the fire Discovery Date.

wildfire_df["CONT_DATE"] = wildfire_df["CONT_DATE"].fillna(wildfire_df['DISCOVERY_DATE'])

wildfire_df.loc[:, ["DISCOVERY_DATE", "CONT_DATE"]]

#wildfire_df[wildfire_df["CONT_DATE"] == None ]
#wildfire_df["CONT_DATE"] = wildfire_df[wildfire_df["CONT_DATE"].isna()]["DISCOVERY_DATE"]
#wildfire_df.loc[:, ["DISCOVERY_DATE", "CONT_DATE"]]
#wildfire_df[["CONT_DATE"]]
#df[filter boolean].loc[extract columns]

         DISCOVERY_DATE  CONT_DATE
0             2453403.5  2453403.5
1             2453137.5  2453137.5
2             2453156.5  2453156.5
3             2453184.5  2453189.5
4             2453184.5  2453189.5
...                 ...        ...
1880460       2457291.5  2457291.5
1880461       2457300.5  2457300.5
1880462       2457144.5  2457144.5
1880463       2457309.5  2457309.5
1880464       2457095.5  2457095.5

[1880465 rows x 2 columns]

In [46]:
import datetime

In [47]:
#Convert the Julian date formats to regular date formats

wildfire_df["DISCOVERY_DATE_NEW"] = pd.to_datetime(wildfire_df["DISCOVERY_DATE"], unit="D", origin="julian")
wildfire_df["CONT_DATE_NEW"] = pd.to_datetime(wildfire_df["CONT_DATE"], unit="D", origin="julian")

wildfire_df.loc[:, ["DISCOVERY_DATE_NEW", "CONT_DATE_NEW"]]

        DISCOVERY_DATE_NEW CONT_DATE_NEW
0               2005-02-02    2005-02-02
1               2004-05-12    2004-05-12
2               2004-05-31    2004-05-31
3               2004-06-28    2004-07-03
4               2004-06-28    2004-07-03
...                    ...           ...
1880460         2015-09-26    2015-09-26
1880461         2015-10-05    2015-10-05
1880462         2015-05-02    2015-05-02
1880463         2015-10-14    2015-10-14
1880464         2015-03-14    2015-03-14

[1880465 rows x 2 columns]

In [48]:
wildfire_df.columns

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape', 'DISCOVERY_DATE_NEW',
       'CONT_DATE_NEW'],
      dtype='object')

In [49]:
wildfire_reduced_df = wildfire_df.loc[:, ["OBJECTID", "SOURCE_SYSTEM_TYPE", "NWCG_REPORTING_UNIT_ID", 
                                          "NWCG_REPORTING_UNIT_NAME", "SOURCE_REPORTING_UNIT", 
                                          "SOURCE_REPORTING_UNIT_NAME", "FIRE_NAME", "FIRE_YEAR",
                                         "DISCOVERY_DATE", "DISCOVERY_DATE_NEW", "DISCOVERY_DOY", "DISCOVERY_TIME",
                                          "CONT_DATE", "CONT_DATE_NEW", "CONT_DOY", "CONT_TIME", "FIRE_SIZE",
                                          "FIRE_SIZE_CLASS", "LATITUDE", "LONGITUDE", "OWNER_CODE", "OWNER_DESCR",
                                         "STATE", "COUNTY", "FIPS_CODE", "FIPS_NAME"]]
wildfire_reduced_df.head()

,OBJECTID,SOURCE_SYSTEM_TYPE,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DATE_NEW,...,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,FED,USCAPNF,Plumas National Forest,0511,Plumas National Forest,FOUNTAIN,2005,2453403.5,2005-02-02,...,0.10,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas
1,2,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,PIGEON,2004,2453137.5,2004-05-12,...,0.25,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer
2,3,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,SLACK,2004,2453156.5,2004-05-31,...,0.10,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado
3,4,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,DEER,2004,2453184.5,2004-06-28,...,0.10,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine
4,5,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,STEVENOT,2004,2453184.5,2004-06-28,...,0.10,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine

In [50]:
wildfire_reduced_df.isnull().sum()

OBJECTID                           0
SOURCE_SYSTEM_TYPE                 0
NWCG_REPORTING_UNIT_ID             0
NWCG_REPORTING_UNIT_NAME           0
SOURCE_REPORTING_UNIT              0
SOURCE_REPORTING_UNIT_NAME         0
FIRE_NAME                     957189
FIRE_YEAR                          0
DISCOVERY_DATE                     0
DISCOVERY_DATE_NEW                 0
DISCOVERY_DOY                      0
DISCOVERY_TIME                882638
CONT_DATE                          0
CONT_DATE_NEW                      0
CONT_DOY                      891531
CONT_TIME                     972173
FIRE_SIZE                          0
FIRE_SIZE_CLASS                    0
LATITUDE                           0
LONGITUDE                          0
OWNER_CODE                         0
OWNER_DESCR                        0
STATE                              0
COUNTY                        678148
FIPS_CODE                     678148
FIPS_NAME                     678148
dtype: int64

In [51]:
#fill in the NaN values with zeor and none

#wildfire_reduced_df.dtype

wildfire_reduced_df.loc[:, ["FIRE_NAME", "DISCOVERY_TIME", "CONT_TIME", 
                           "COUNTY", "FIPS_CODE", "FIPS_NAME"]].fillna("NA")
wildfire_reduced_df.loc[:, ["CONT_DOY", ]].fillna(0.0)

         CONT_DOY
0            33.0
1           133.0
2           152.0
3           185.0
4           185.0
...           ...
1880460     269.0
1880461       0.0
1880462       0.0
1880463       0.0
1880464       0.0

[1880465 rows x 1 columns]

In [52]:
print(wildfire_reduced_df.shape)
wildfire_reduced_df.head()

(1880465, 26)

,OBJECTID,SOURCE_SYSTEM_TYPE,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DATE_NEW,...,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,FED,USCAPNF,Plumas National Forest,0511,Plumas National Forest,FOUNTAIN,2005,2453403.5,2005-02-02,...,0.10,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas
1,2,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,PIGEON,2004,2453137.5,2004-05-12,...,0.25,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer
2,3,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,SLACK,2004,2453156.5,2004-05-31,...,0.10,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado
3,4,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,DEER,2004,2453184.5,2004-06-28,...,0.10,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine
4,5,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,STEVENOT,2004,2453184.5,2004-06-28,...,0.10,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine

In [53]:
print(wildfire_reduced_df.dtypes)

OBJECTID                               int64
SOURCE_SYSTEM_TYPE                    object
NWCG_REPORTING_UNIT_ID                object
NWCG_REPORTING_UNIT_NAME              object
SOURCE_REPORTING_UNIT                 object
SOURCE_REPORTING_UNIT_NAME            object
FIRE_NAME                             object
FIRE_YEAR                              int64
DISCOVERY_DATE                       float64
DISCOVERY_DATE_NEW            datetime64[ns]
DISCOVERY_DOY                          int64
DISCOVERY_TIME                        object
CONT_DATE                            float64
CONT_DATE_NEW                 datetime64[ns]
CONT_DOY                             float64
CONT_TIME                             object
FIRE_SIZE                            float64
FIRE_SIZE_CLASS                       object
LATITUDE                             float64
LONGITUDE                            float64
OWNER_CODE                           float64
OWNER_DESCR                           object
STATE                                 object
COUNTY                                object
FIPS_CODE                             object
FIPS_NAME                             object
dtype: object

In [54]:
wildfire_reduced_df['DISCOVERY_DATE_NEW'] = wildfire_reduced_df['DISCOVERY_DATE_NEW'].astype(str)
wildfire_reduced_df['CONT_DATE_NEW'] = wildfire_reduced_df['CONT_DATE_NEW'].astype(str)

In [25]:
#wildfire_reduced_df.to_csv('us_wildfire_1992_2015_cleaned.csv', index=False)

In [55]:
wildfire_reduced_df.columns = map(str.lower, wildfire_reduced_df.columns)

In [56]:
wildfire_reduced_df.dtypes

objectid                        int64
source_system_type             object
nwcg_reporting_unit_id         object
nwcg_reporting_unit_name       object
source_reporting_unit          object
source_reporting_unit_name     object
fire_name                      object
fire_year                       int64
discovery_date                float64
discovery_date_new             object
discovery_doy                   int64
discovery_time                 object
cont_date                     float64
cont_date_new                  object
cont_doy                      float64
cont_time                      object
fire_size                     float64
fire_size_class                object
latitude                      float64
longitude                     float64
owner_code                    float64
owner_descr                    object
state                          object
county                         object
fips_code                      object
fips_name                      object
dtype: object

# Data Loading

In [26]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\flyto\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\flyto\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\flyto\anaconda3\lib\site-packages (from ipython-sql) (7.8.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\flyto\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable in c:\users\flyto\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\flyto\anaconda3\lib\site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: six in c:\users\flyto\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: setuptools>=18.5 in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (41.4.0)
Requirement already satisfied: pygments in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: pickleshare in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.10 in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: decorator in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: backcall in c:\users\flyto\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\flyto\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: wcwidth in c:\users\flyto\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)

In [27]:
%load_ext sql

In [36]:
from config import db_password
import psycopg2

In [29]:
DB_ENDPOINT = "localhost"
DB = 'us_wildfires'
DB_USER = 'postgres'
DB_PASSWORD = db_password
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:postgres@localhost:5432/us_wildfires

In [37]:
PGPASSWORD=db_password createdb -h 127.0.0.1 -U postgres us_wildfires
PGPASSWORD=db_password psql -q -h 127.0.0.1 -U postgres -d test -f ETL_project/us_wildfire_schema.sql

SyntaxError: invalid syntax (<ipython-input-37-6d335e171f50>, line 1)

In [38]:
from sqlalchemy import create_engine

In [62]:
rds_connection_string = (f"postgres:{db_password}@localhost:5432/us_wildfires")

engine = create_engine(f'postgresql://{rds_connection_string}')
print(f'postgresql://{rds_connection_string}')

postgresql://postgres:postgres@localhost:5432/us_wildfires

In [63]:
engine.table_names()

['us_wildfires']

In [64]:
#use Panads to load the dataframe into database

wildfire_reduced_df.to_sql(name='us_wildfires', con=engine, if_exists='append', index=False)

In [65]:
#confirm data has been loaded by querying the us_wildfire table

pd.read_sql_query('select * from us_wildfires', con=engine).head()

,objectid,source_system_type,nwcg_reporting_unit_id,nwcg_reporting_unit_name,source_reporting_unit,source_reporting_unit_name,fire_name,fire_year,discovery_date,discovery_date_new,...,fire_size,fire_size_class,latitude,longitude,owner_code,owner_descr,state,county,fips_code,fips_name
0,1,FED,USCAPNF,Plumas National Forest,0511,Plumas National Forest,FOUNTAIN,2005,2453403.5,2005-02-02,...,0.10,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas
1,2,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,PIGEON,2004,2453137.5,2004-05-12,...,0.25,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer
2,3,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,SLACK,2004,2453156.5,2004-05-31,...,0.10,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado
3,4,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,DEER,2004,2453184.5,2004-06-28,...,0.10,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine
4,5,FED,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,STEVENOT,2004,2453184.5,2004-06-28,...,0.10,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine